

node {
        cursor: pointer;
    }

    .node circle {
      fill: black;
      stroke: chartreuse;
      stroke-width: 1px;
    }

    .node text {
      font: 24px sans-serif;
<<<<<<< HEAD
 
=======
   /*text-shadow: 2px 2px 4px #000000 ;*/
>>>>>>> 735ee8a203736e6cc9c8ee9e7b6c87e0b7c68010
    }

     .node text:hover{
         font-weight: bold;
     }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 7px;
    }
<<<<<<< HEAD
   /*.col-xs-12{
       background-color: chartreuse;
   }*/
=======
   .col-xs-12{
       /*background-color: chartreuse;*/
   }
>>>>>>> 735ee8a203736e6cc9c8ee9e7b6c87e0b7c68010

   /*Navbar*/
   body {
    font-family: 'Raleway', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, li{
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        margin-top: 0;
    }
    a:link{
        text-decoration: none;
    }
    a:visited {
        color: white;
}
    a{
        color: white;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        font-family: 'Raleway', sans-serif;
    }
    #menu{
        position: absolute;
        color: white;
        padding-left: 15px;
        padding-top: 10px;
        font-family: 'Raleway', sans-serif;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover, .offcanvas a:focus{
        color: #999;
        padding-left: 50px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

    node {
        cursor: pointer;
    }

    .node circle {
      fill: black;
      /*stroke: chartreuse;*/
      stroke-width: 5px;
    }

    .node text {
      font: 20px sans-serif;
      
    }

    .link {
      fill: none;
      stroke: lightgray;
      stroke-width: 3px;
    }
   .col1{
       /*background:  chartreuse;*/
       width: 100%;
   }
   .top-header{
     text-align: center;
   }
  
   div.row{
     width: 100%;
   }
   .buttdiv{
       padding: 1em;
      
   }
   .divide{
       height: 4em;
       margin-top: 2em;
       margin-bottom: 2em;
       background: black;
      
      
   }
   .treepage{
       background-color:white;
      
   }
   
   /*background around expanding tree*/
   #putithere{
       background-color: white;
   }
   .btn-block{
       background: linear-gradient(to bottom,  #267c99 50%,#007299 50%);
   }
   svg{
      
   }
   .expand{
padding: 1em;
   }
  

  .infobody{
      /*background-image: url(https://static.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg);*/
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      height: 1000px;
  }
  .body-background{
      background-image: url(https://static.pexels.com/photos/33284/butterfly-matting-macro-macro-photography.jpg);
      background-attachment: fixed;
      background-size: cover;
      height: 1000px;
  }
  .title{
      font-size: 8em;
      padding-left: 80px;
      padding-top: 250px;
      color: white;
    font-family: 'Yatra One', cursive;
    font-family: 'Kavoon', cursive;
    font-family: 'Luckiest Guy', cursive;
}
  .about-jumbotron{
      background-image: url(https://static.pexels.com/photos/129743/pexels-photo-129743.jpeg);
      background-attachment: fixed;
      background-size: cover;
      color: white;
  }
  .about-jumbotron h1{
      padding-right: 50px;
  }
  .tree-jumbotron{
      background-image: url(https://static.pexels.com/photos/96654/pexels-photo-96654.jpeg);
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      color: white;
  }
  .tree-jumbotron h1{
      padding-right: 50px;
  }
  .vocab-jumbotron{
      background-image: url(https://static.pexels.com/photos/129743/pexels-photo-129743.jpeg);
      background-attachment: fixed;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      color: white;
  }
  .vocab-jumbotron h1{
      padding-right: 50px;
  }
  .moreinfo-jumbotron{
      background-image: url(https://static.pexels.com/photos/67751/pexels-photo-67751.jpeg);
      background-attachment: fixed;
      background-size: cover;
      height: 1000px;
  }
  .moreinfo-jumbotron h1{
      padding-right: 50px;
  }
  .box{
      background-color: white;
      color: #333;
      opacity: .8;
      transition: .5s;
      padding: 20px 30px;
      font-size: 10vw;
  }
  .box:hover{
      background-color: #00BCD4;
  }
  .game-jumbotron{
      background-image: url(https://static.pexels.com/photos/130621/pexels-photo-130621.jpeg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      color: white;
  }
  .game-jumbotron h1{
      padding-right: 50px;
  }
  .vocab-jumbotron{
      background-image: url(https://static.pexels.com/photos/25426/pexels-photo-25426.jpg);
      background-attachment: fixed;
      background-size: cover;
      color: white;
  }
  .vocab-jumbotron h1{
      padding-right: 50px;
  }
   .term-jumbotron{
      background-image: url(https://static.pexels.com/photos/34106/zebra-wild-animal-africa-stripes.jpg);
      background-attachment: fixed;
      background-size: cover;
      color: white;
  }
  .term-jumbotron h1{
      padding-right: 50px;
  }
  .class li{
      font-size: 1.5em;
      list-style: none;
      margin: auto auto;
      padding: auto 0;
      color: black;
      font-weight: 100;
  }
  ul{
      padding-left: 0;
  }
  .thumbnail{
      background-color: #ddd;
      border-radius: 0;
      padding: 0;
      transition: .4s;
  }
  .thumbnail:hover{
      background-color: #bbb;
  }
  .jumbotron h1{
      font-size: 7em;
  }
  .class-background{
      background-color: #bbb;
  }
