node {
        cursor: pointer;
    }

    .node circle {
      fill: black;
      stroke: chartreuse;
      stroke-width: 1px;
    }

    .node text {
      font: 24px sans-serif;
   text-shadow: 2px 2px 4px #000000 ;
    }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 7px;
    }
   .col-xs-12{
       background-color: chartreuse;
   }